#host ของ DATABASE_URL (mssql) ให้ดูชื่อ docker ps ว่าชื่ออะไร 

DATABASE_URL="postgresql://admin:password@postgres:5432/mydb"
SSQL_PASSWORD=password
PORTDATABASE=1455

PORTSERVER=7777
PORTCLIENT=3001